<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/d3.min.js" charset="utf-8"></script>
  </head>
  <body>
    {{{body}}}
	<script>
          var h = 100;
		  var w = 400;
		  var salesTotal = 0.0;
		  var salesAvg = 0.0;
		  var metrics = [];
		  var ds;
		  
		  function buildLine() {
			var lineFun = d3.svg.line()
				.x(function(d){return((d.month-20130001)/3.25)})
				.y(function(d){return h-d.sales})
				.interpolate("linear");
			
			var svg = d3.select("body").append("svg").attr({
				width: w,
				height: h
			});
			
			var viz = svg.append("path")
				.attr({
					d: lineFun(ds),
					"stroke": "purple",
					"stroke-width": 2,
					"fill": "none"
				});
		  }
          
		  function showTotals() {
			var t = d3.select("body").append("table");
			
			for (var i = 0; i < ds.length; i++) {
				salesTotal += ds[i]['sales'] * 1;
			}
			
			salesAvg = salesTotal / ds.length;
			
			metrics.push("Sales Total: " + salesTotal);
			metrics.push("Sales Average: " + salesAvg.toFixed(2));
			
			var tr = t.selectAll("tr")
				.data(metrics)
				.enter()
				.append("tr")
				.append("td")
				.text(function(d) {return d;});
		  }
		  
		  d3.csv("MonthlySales.csv", function(error, data) {
			if (error) {
				console.log(error);
			} else {
				console.log(data);
				ds = data;
			}
			
			buildLine();
			showTotals();
		  });   
    </script>
  </body>
</html>
